<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/css/custom-carousel.css">
  <title>Hello, world!</title>
</head>

<body>
<!--
  <div class="container">
    <h1> hello world</h1>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
 
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img class="img-fluid" src="images/pen.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Pen</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card">
              <img class="img-fluid" src="images/pencil.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Pencil</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card">
              <img class="img-fluid" src="images/watch.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Watch</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>
        </div>
      </div>
 
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img class="img-fluid" src="images/harry-potter.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Adventures of Harry Potter</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card">
              <img class="img-fluid" src="images/padmavathi-cd.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Padmavathi CD</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card">
              <img class="img-fluid" src="images/chandamama.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Chandamama</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>
        </div>
      </div>
 

 
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img class="img-fluid" src="images/tinkle.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Tinkle</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card">
              <img class="img-fluid" src="images/tshirt.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">TShirt</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card">
              <img class="img-fluid" src="images/tomato.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

        </div>
      </div>
 
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
-->
 
 

  </div>

  <div class="container">
    <div id="carouselExample" class="carousel slide bg-primary p-4" data-ride="carousel" data-interval="9000">
      <div class="carousel-inner row w-100 mx-auto" role="listbox">
        <div class="carousel-item col-md-3 active">
          <img class="img-fluid mx-auto d-block" src="images/pen.jpg" alt="slide 1">
          <br/>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris iaculis ultrices tincidunt. 
        </div>
        <div class="carousel-item col-md-3">
          <img class="img-fluid mx-auto d-block" src="images/pencil.jpg" alt="slide 2">
          <br/>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris iaculis ultrices tincidunt. 
        </div>
        <div class="carousel-item col-md-3">
          <img class="img-fluid mx-auto d-block" src="images/harry-potter.jpg" alt="slide 3">
          <br/>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris iaculis ultrices tincidunt. 
        </div>
        <div class="carousel-item col-md-3">
          <img class="img-fluid mx-auto d-block" src="images/tshirt.jpg" alt="slide 4">
          <br/>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris iaculis ultrices tincidunt. 
        </div>
        <div class="carousel-item col-md-3">
          <img class="img-fluid mx-auto d-block" src="images/pen.jpg" alt="slide 5">
        </div>
        <div class="carousel-item col-md-3">
          <img class="img-fluid mx-auto d-block" src="images/watch.jpg" alt="slide 6">
        </div>
        <div class="carousel-item col-md-3">
          <img class="img-fluid mx-auto d-block" src="images/potato.jpg" alt="slide 7">
        </div>
        <div class="carousel-item col-md-3">
          <img class="img-fluid mx-auto d-block" src="images/laptop.jpg" alt="slide 8">
        </div>
      </div>
 

      <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </div>



  <script src="node_modules/jquery/dist/jquery.slim.js"></script>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>

  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

  <script>

    $('#carouselExample').on('slide.bs.carousel', function (e) {
    // alert (e.relatedTarget.nodeName);
 
      var $e = $(e.relatedTarget);
      var idx = $e.index();
   //   alert (idx);
      var itemsPerSlide = 4;
      var totalItems = $('.carousel-item').length;

      if (idx >= totalItems - (itemsPerSlide - 1)) {
        var it = itemsPerSlide - (totalItems - idx);
        for (var i = 0; i < it; i++) {
          // append slides to end
          if (e.direction == "left") {
            $('.carousel-item').eq(i).appendTo('.carousel-inner');
          }
          else {
            $('.carousel-item').eq(0).appendTo('.carousel-inner');
          }
        }
      }
    });
  </script>
</body>

</html>