<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/css/custom.css">
    <title>Responsive Media</title>
</head>

<body>

    <div class="container">


        <div>
            <img src="images/watch.jpg" class="img-fluid" alt="Responsive image">
        </div>

        <div>
            <img src="images/watch.jpg" class="img-thumbnail" alt="Responsive image">
        </div>

        <h3>Figures</h3>
        <p>Add img-fluid to make it responsve</p>
        <figure class="figure">
            <img src="images/harry-potter.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
        </figure>
        <hr/>

        <h3>Videos</h3>
        Responsive videos created using Embeds Embeds Create responsive video or slideshow embeds based on the width of the parent
        by creating an intrinsic ratio that scales on any device.
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        </div>

        <!-- 21:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-21by9">
            <iframe class="embed-responsive-item" src="..."></iframe>
        </div>

        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="..."></iframe>
        </div>


    </div>

    <script src="node_modules/jquery/dist/jquery.slim.js"></script>
    <script src="node_modules/popper.js/dist/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>