<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/css/custom.css">
  <title>Buttons Badge</title>
</head>

<body>

  <div class="container">
    <h1> hello world</h1>
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-outline-danger">Danger</button>
        <button type="button" class="btn btn-outline-warning">Warning</button>
        <button type="button" class="btn btn-info disabled">Info</button>

        <button type="button" class="btn btn-dark">Dark</button>
        <h3>Links as Buttons</h3>

        <a href="#" class="btn btn-danger btn-sm disabled" role="button" aria-disabled="true">Disabled link</a>
        <a href="#" class="btn btn-danger btn-sm" role="button" aria-disabled="true">Active link</a>

        <h3>Button Groups</h3>
        <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-primary">1</button>
            <button type="button" class="btn btn-secondary">2</button>
            <button type="button" class="btn btn-primary">3</button>


            <button type="button" class="btn btn-secondary">4</button>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" id="btnGroupAddon">@</div>
            </div>
            <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon">
          </div>
          <button type="button" class="btn btn-success mx-3">
            Badge Example
            <span class="badge badge-light ">7</span>
            <span class="sr-only">unread messages</span>
          </button>
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Dropdown
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" href="#">Dropdown link</a>
              <a class="dropdown-item" href="#">Dropdown link</a>
            </div>



          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="node_modules/jquery/dist/jquery.slim.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>

  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>