<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/css/custom.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <title>Typography Example</title>
</head>

<body>

    <div class="container">


        <div class="text-nowrap" style="width: 8rem;">
            This text should overflow the parent.
        </div>
        <!-- Block level -->
        <div class="row mb-5">
            <div class="col-2 text-truncate bg-success text-dark text-bold h1">
                Praeterea iter est quasdam res quas ex communi.
            </div>
        </div>

        <h2>Code Example</h2>
        To switch directories, type
        <kbd>cd</kbd> followed by the name of the directory.
        <br> To edit settings, press
        <kbd>
            <kbd>ctrl</kbd> +
            <kbd>,</kbd>
        </kbd>
    </div>


    <script src="node_modules/jquery/dist/jquery.slim.js"></script>
    <script src="node_modules/popper.js/dist/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>