<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/css/custom.css">
    <title>Hello, world!</title>
</head>

<body>

    <div class="container">
        <h3> Tweleve columns</h3>
        <div class="row">
            <div class="col-md-1">
                col 1
            </div>
            <div class="col-md-1">
                col 2
            </div>
            <div class="col-md-1">
                col 3
            </div>
            <div class="col-md-1">
                col 4
            </div>
            <div class="col-md-1">
                col 5
            </div>
            <div class="col-md-1">
                col 6
            </div>
            <div class="col-md-1">
                col 7
            </div>
            <div class="col-md-1">
                col 8
            </div>
            <div class="col-md-1">
                col 9
            </div>
            <div class="col-md-1">
                col 10
            </div>
            <div class="col-md-1">
                col 11
            </div>
            <div class="col-md-1">
                col 12
            </div>
        </div>

        <h3> 6 columns</h3>
        <div class="row">
            <div class="col-md-2">
                col 1
            </div>
            <div class="col-md-2">
                col 2
            </div>
            <div class="col-md-2">
                col 3
            </div>
            <div class="col-md-2">
                col 4
            </div>
            <div class="col-md-2">
                col 5
            </div>
            <div class="col-md-2">
                col 6
            </div>

        </div>

        <h3> 4 Equal columns</h3>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                col 1
            </div>
            <div class="col-sm-6 col-md-3">
                col 2
            </div>
            <div class="col-md-3">
                col 3
            </div>
            <div class="col-md-3">
                col 4
            </div>
        </div>

        <h3> 4 Equal columns (without unit specified)</h3>
        <div class="row">
            <div class="col-md">
                col 1
            </div>
            <div class="col-md">
                col 2
            </div>
            <div class="col-md">
                col 3
            </div>
            <div class="col-md">
                col 4
            </div>
        </div>
        <h3> 3 Equal columns</h3>
        <div class="row">
            <div class="col-md-4">
                col 1
            </div>
            <div class="col-md-4">
                col 2
            </div>
            <div class="col-md-4">
                col 3
            </div>

        </div>
        <h3> 2 Equal columns</h3>
        <div class="row">
            <div class="col-md-6">
                col 1
            </div>
            <div class="col-md-6">
                col 2
            </div>
        </div>
        <h2> 1 column</h2>
        <div class="row">
            <div class="col-md-12">
                col 1
            </div>
        </div>


        <h1>
            For Different Devices

        </h1>
        <!-- d-none : hide for all devices 
            d-[]-flex: show from that device higher up
            d-flex: show for all devices
            d-[]-none: hide from that device higher up
            display can be flex, inline, block etc...
        -->
        
        <h3 class="d-flex d-sm-none" > Mobile: 1 Column</h3>
        <h3 class="d-none  d-sm-flex d-md-none" >Small Devices: 2 Columns</h3>
        <h3 class="d-none  d-md-flex d-lg-none" >Medium Devices: 3 Columns</h3>
        <h3 class="d-none  d-lg-flex d-xl-none" >Large Devices: 4 Columns</h3>
        <h3 class="d-none  d-xl-flex" >Extra Large Devices: 6 Columns</h3>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                col 1
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                col 2 
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                col 3
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                col 4
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                col 5
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                col 6
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                col 7
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                col 8
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                col 9
            </div>
            <div  class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                col 10
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                col 11
            </div>
            <div  class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                col 12
            </div>
        </div>


    </div>

    <script src="node_modules/jquery/dist/jquery.slim.js"></script>
    <script src="node_modules/popper.js/dist/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>