<!DOCTYPE html>
<html>

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MyCart Products</title>

    <!-- BOOTSTRAP VERSION 3.3.5 -->
    <!--  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    -->

    <!-- BOOTSTRAP VERSION 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>

</head>

<body class="bg-dark">
    <div id="myHeader"></div>

    <div class="container">


        <nav aria-label="breadcrumb" class="mt-2">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="cart-home.html">Home</a>
                </li>

                <li class="breadcrumb-item active" aria-current="page">Our Store</li>
            </ol>
        </nav>

        <div class="modal fade" tabindex="100" role="dialog" id="myProductModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-warning">
                        <h5 class="modal-title">Details for Product ${productname}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <h5 class="card-title modal-pname"></h5>
                        <h5 class="card-title modal-pid"></h5>
                        <p class="modal-pdesc"></p>
                        <div id="res2"></div>

                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Small modal to show added data -->

        <div class="modal fade bd-example-modal-sm" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="mySmallModalLabel">Cart Info</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5 id="pAdded" class="text-primary">

                        </h5>
                        <hr/>
                        <h6>Items in Cart:</h6>
                        <ul>
                            <div id="pItems">
                            </div>
                        </ul>
                    </div>


                </div>
            </div>
        </div>

        <div class="row ts-product-container"></div>
    </div>

    <script id="aProductTemplate" type="text/x-jquery-tmpl"></script>

    <!--
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>    -->

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>  -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="app.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>

    <div id="myFooter"></div>

    <script>
        $("#aProductTemplate").load("mytemplate.html");
        $("#myHeader").load("header.html");
        $("#myFooter").load("footer.html");


        function showMsgModal(pname) {
            $('.bd-example-modal-sm #pAdded').text(pname + " added to cart");
            $('.bd-example-modal-sm #pItems').append("<li>" + pname + "</li>");
            $('.bd-example-modal-sm').modal('show');

        }

        $('#myProductModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var pname = button.data('product-name') //  
            var pdesc = button.data('product-desc') //  
            var pid = button.data('product-id') //  

            var modal = $(this)
            modal.find('.modal-title').text('Details of ' + pname)

            modal.find('.modal-body .modal-pname').text(pname)
            modal.find('.modal-body .modal-pdesc').text(pdesc)
            modal.find('.modal-body .modal-pid').text(pid)

            fetchfromJsonfile(pid);


        });


        function fetchfromJsonfile(pid) {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "mydata.json",
                cache: false,
                beforeSend: function () {
                    $('#res2').html('loading please wait...');
                },
                success: function (jsondata) {

                    var str = '';
                    str += '<h2>Categories:</h2><ul>';
                    $.each(jsondata, function (idx, obj) {
                        if (obj.productid == pid) {
                            str += '<li> ' + obj.productid + ' - ' + obj.category + '</li>';
                        }
                    });
                    str += '</ul>';
                    $('#res2').html(str);
                }
            });
        }

    </script>

</body>

</html>